%h1 Listing datum_types

%table
  %tr
    %th Description
    %th Actions

  - @datum_types.each do |datum_type|
    %tr
      %td= datum_type.description
      %td
        = link_to 'Show', user_datum_type_path(current_user,datum_type)
        = link_to 'Edit', edit_user_datum_type_path(current_user,datum_type)
        = link_to 'Destroy', user_datum_type_path(current_user,datum_type), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Datum type', new_user_datum_type_path(current_user)
