= simple_form_for @datum, :url => @formURL do |f|
  = f.error_notification

  .form-inputs
    = f.association :datumType, :collection =>DatumType.where(:id => current_user), label_method: :description, value_method: :id
    = f.input :value
    = f.input :comment

  .form-actions
    = f.button :submit
