%h1 Listing data

%table
  %tr
    %th Date/Time
    %th Data Type
    %th Value
    %th Comment
    %th Actions

  - @data.each do |datum|
    %tr
      %td= datum.created_at
      %td= datum.datumType.description
      %td= datum.value
      %td= datum.comment
      %td
        = link_to 'Show', user_datum_path(current_user,datum)
        = link_to 'Edit', edit_user_datum_path(current_user,datum)
        = link_to 'Destroy', user_datum_path(current_user,datum), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Datum', new_user_datum_path(current_user)
