
%br
(Put more useful text here...)
%br
%br
= link_to 'New Data Point', new_user_datum_path(current_user)


%h1 Most recent entries

%table
  %tr
    %th Date/Time
    %th Data Type
    %th Value
    %th Comment
    %th Actions

  - @data.each do |datum|
    %tr
      %td= datum.created_at.strftime("%a, %b %e at %l:%M %P %Z")
      %td= datum.datumType.nil? ? "" : datum.datumType.description
      %td= datum.value
      %td= datum.comment
      %td
        = link_to 'Show', user_datum_path(current_user,datum)
        = link_to 'Edit', edit_user_datum_path(current_user,datum)
        = link_to 'Destroy', user_datum_path(current_user,datum), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Data Point', new_user_datum_path(current_user)
